
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style=" font-size:60px; color:#582424;">eMarket!</h1>
    <p class="lead" style=" font-size:25px;"> Where you can find products which you prefer in suitable prices and there is Amazing discounts.Also you can add your product or update or delete it.Do as you like😃😃!</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Products</h2>
        <p>

        </p>
        <p><a class="btn btn-primary" href="https://localhost:44390/products/Filter">Click Here</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>*@
    <div class="col-md-4">
        <h2>Add Your Product</h2>
        <p></p>
        <p><a class="btn btn-primary" href="https://localhost:44390/products/Create">Click Here</a></p>
    </div>
</div>

